<%= form_with(model: preponent, data: { controller: "calculate-inss" }) do |form| %>
  <% if preponent.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(preponent.errors.count, "error") %> prohibited this preponent from being saved:</h2>

      <ul>
        <% preponent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :birth_date, style: "display: block" %>
    <%= form.date_field :birth_date %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :number, style: "display: block" %>
    <%= form.text_field :number %>
  </div>

  <div>
    <%= form.label :neighborhood, style: "display: block" %>
    <%= form.text_field :neighborhood %>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.text_field :state %>
  </div>

  <div>
    <%= form.label :postal_code, style: "display: block" %>
    <%= form.text_field :postal_code %>
  </div>

  <div>
    <%= form.label :personal_phone, style: "display: block" %>
    <%= form.text_field :personal_phone %>
  </div>

  <div>
    <%= form.label :reference_phone, style: "display: block" %>
    <%= form.text_field :reference_phone %>
  </div>

  <div>
    <%= form.label :salary, style: "display: block" %>
    <%= form.text_field :salary, data: {
        calculate_inss_target: "salary",
        action: "input->calculate-inss#calculate"
      } %>
  </div>

  <div>
    <%= form.label :inss_discount, style: "display: block" %>
    <%= form.text_field :inss_discount, readonly: true, data: { calculate_inss_target: "inssDiscount" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
