<%= form_with(model: preponent, data: { controller: "calculate-inss" }) do |form| %>
  <% if preponent.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(preponent.errors.count, "error") %> prohibited this preponent from being saved:</h2>
      <ul>
        <% preponent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :cpf, class: "form-label" %>
      <%= form.text_field :cpf, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :birth_date, class: "form-label" %>
      <%= form.date_field :birth_date, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :address, class: "form-label" %>
      <%= form.text_field :address, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :number, class: "form-label" %>
      <%= form.text_field :number, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :neighborhood, class: "form-label" %>
      <%= form.text_field :neighborhood, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :city, class: "form-label" %>
      <%= form.text_field :city, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :state, class: "form-label" %>
      <%= form.text_field :state, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :postal_code, class: "form-label" %>
      <%= form.text_field :postal_code, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :personal_phone, class: "form-label" %>
      <%= form.text_field :personal_phone, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :reference_phone, class: "form-label" %>
      <%= form.text_field :reference_phone, class: "form-control" %>
    </div>

    <div class="col-md-6 mb-3">
      <%= form.label :salary, class: "form-label" %>
      <%= form.text_field :salary, data: {
          calculate_inss_target: "salary",
          action: "input->calculate-inss#calculate"
        }, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <%= form.label :inss_discount, class: "form-label" %>
      <%= form.text_field :inss_discount, readonly: true, data: { calculate_inss_target: "inssDiscount" }, class: "form-control" %>
    </div>
  </div>

  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>

<% if preponent.persisted? %>
  <%= form_with url: preponent_update_salary_only_path(preponent_id: preponent.id), method: :patch, local: true, class: "form-inline" do |form| %>
    <div class="form-group mb-2">
      <%= form.label :salary, "Novo Salário", class: "sr-only" %>
      <%= form.number_field :salary, value: preponent.salary, step: 0.01, class: "form-control", placeholder: "Digite o novo salário" %>
    </div>

    <%= form.hidden_field :id, value: preponent.id %>

    <button type="submit" class="btn btn-primary mb-2">Atualizar Salário</button>
  <% end %>
<% end %>
