<%= form_with(model: preponent, data: { controller: "calculate-inss" }) do |form| %>
  <% if preponent.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(preponent.errors.count, "error") %> prohibited this preponent from being saved:</h2>
      <ul>
        <% preponent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-4 mb-3">
      <label class="form-label">Nome</label>
      <%= form.text_field :name, class: "form-control bg-dark text-white border-secondary bg-dark text-white border-secondary", required: true %>
    </div>

    <div class="col-md-4 mb-3">
      <label class="form-label">CPF</label>
      <%= form.text_field :cpf, class: "form-control bg-dark text-white border-secondary", required: true %>
    </div>

    <div class="col-md-4 mb-3">
      <label class="form-label">Data de Aniversário</label>
      <%= form.date_field :birth_date, class: "form-control bg-dark text-white border-secondary", required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Endereço</label>
      <%= form.text_field :address, class: "form-control bg-dark text-white border-secondary", required: true %>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label">Número</label>
      <%= form.text_field :number, class: "form-control bg-dark text-white border-secondary", required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Bairro</label>
      <%= form.text_field :neighborhood, class: "form-control bg-dark text-white border-secondary", required: true %>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label">Cidade</label>
      <%= form.text_field :city, class: "form-control bg-dark text-white border-secondary", required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Estado</label>
      <%= form.text_field :state, class: "form-control bg-dark text-white border-secondary", required: true %>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label">Código Postal</label>
      <%= form.text_field :postal_code, class: "form-control bg-dark text-white border-secondary", required: true %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label">Telefone Pessoal</label>
      <%= form.text_field :personal_phone, class: "form-control bg-dark text-white border-secondary", required: true %>
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label">Telefone Referencial</label>
      <%= form.text_field :reference_phone, class: "form-control bg-dark text-white border-secondary", required: true %>
    </div>
  </div>

  <% if !preponent.persisted? %>
    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">Salário</label>
        <%= form.number_field :salary, step: "0.01", data: {
            calculate_inss_target: "salary",
            action: "input->calculate-inss#calculate"
          }, class: "form-control bg-dark text-white border-secondary", required: true %>
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Disconto INSS</label>
        <%= form.number_field :inss_discount, readonly: true, data: { calculate_inss_target: "inssDiscount" }, class: "form-control bg-dark text-white border-secondary" %>
      </div>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.submit preponent.new_record? ? "Criar Funcionário" : "Atualizar Funcionário", class: "btn btn-primary" %>
  </div>
<% end %>

<% if preponent.persisted? %>
  </br><hr class="bg-white"></br>

  <h2>Atualizar Salário</h2></br>

  <%= form_with url: preponent_update_salary_only_path(preponent_id: preponent.id), method: :patch, local: true, class: "form-inline", data: { controller: "calculate-inss" } do |form| %>
    <div class="row">
      <div class="col-md-3 mb-3">
        <%= form.label :salary, "Salário Atual", class: "form-label" %></br>
        <h3><%= number_to_currency(preponent.salary, precision: 2, locale: "pt-BR") %></h3>
      </div>

      <div class="col-md-3 mb-3">
        <%= form.label :salary, "Desconto INSS Atual", class: "form-label" %></br>
        <h3><%= number_to_currency(preponent.inss_discount, precision: 2, locale: "pt-BR") %></h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 mb-3">
        <%= form.label :salary, "Novo Salário", class: "form-label" %>
        <%= form.number_field :salary, step: "0.01", data: {
              calculate_inss_target: "salary",
              action: "input->calculate-inss#calculate"
            }, class: "form-control bg-dark text-white border-secondary", placeholder: "Digite o novo salário" %>
      </div>

      <div class="col-md-3 mb-3">
        <label class="form-label">Desconto INSS</label>
        <%= form.number_field :inss_discount, readonly: true, data: { calculate_inss_target: "inssDiscount" }, class: "form-control bg-dark text-white border-secondary" %>
      </div>
    </div>


    <div class="col-md-6 mb-3 d-flex flex-column justify-content-end">
      <button type="submit" class="btn btn-success">Atualizar Salário</button>
    </div>

    <%= form.hidden_field :id, value: preponent.id %>
  <% end %>
<% end %>
