<div id="<%= dom_id preponent %>">
  <p>
    <strong>Name:</strong>
    <%= preponent.name %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= preponent.cpf %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= preponent.birth_date %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= preponent.address %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= preponent.number %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= preponent.neighborhood %>
  </p>

  <p>
    <strong>City:</strong>
    <%= preponent.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= preponent.state %>
  </p>

  <p>
    <strong>Postal code:</strong>
    <%= preponent.postal_code %>
  </p>

  <p>
    <strong>Personal phone:</strong>
    <%= preponent.personal_phone %>
  </p>

  <p>
    <strong>Reference phone:</strong>
    <%= preponent.reference_phone %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= preponent.salary %>
  </p>

  <p>
    <strong>Inss discount:</strong>
    <%= preponent.inss_discount %>
  </p>

</div>
