<!DOCTYPE html>
<html>
  <head>
    <title>DesafioDescontoInss</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>

  <body>
    <div class="d-flex bg-dark">
      <% if user_signed_in? %>
        <%= render 'layouts/shared/sidebar' %>
      <% end %>

      <div class="flex-grow-1 p-3 bg-dark text-white">
        <% if notice %>
          <div class="alert alert-success" role="alert">
            <%= notice %>
          </div>
        <% end %>

        <% if alert %>
          <div class="alert alert-danger" role="alert">
            <%= alert %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
